<html>
<head>
    
    <script src="AngularJs/angular.js"
    <script>
    
    var myApp=angular.module("app",[]);
        myApp.controller("demoController", function($scope)
                         {
            
            var student=[
                
                {Name: "Shiva", addr: "Pune", roll: 101},
                {Name: "Nagesh", addr: "Solapur", roll: 102}
                
            ];
             $scope.allStudents=student;
        });
    
    </script>
    
    
    </head> 

<body ng-app="app" ng-controller="demoController">
    
    
    <div ng-repeat="values in allStudents">
    
        {{values.Name}}
        {{values.addr}}
        {{values.roll}}
    </div>
    
    
    </body>

</html>